*{
    padding:0px;
    margin:0px;
}
#container{
    width: 150px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    background-color: rgb(227, 221, 255);
}
#power{
    background-color: rgb(72, 206, 72);
    border: none;
    width:50%;
    outline:0;
    padding: 20px 10px;
    border-radius: 10%;
    transition: all 0.5s;
}
#power:hover{
    background-color: rgb(73, 165, 73);
    color:white;
    cursor: pointer;
}
#siteToggle{
    background-color: rgb(72, 152, 206);
    border: none;
    width:50%;
    outline:0;
    padding: 10px 5px;
    border-radius: 10%;
    transition: all 0.5s;
    margin-top: 10px;
}
#siteToggle:hover{
    background-color: rgb(36, 89, 114);
    cursor: pointer;
    color:White
}
#siteListCheck{
    background-color: rgba(114, 18, 1, 0.849);
    border: none;
    width:50%;
    outline:0;
    height: 20px;
    border-radius: 10%;
}